body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 1s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-items {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #FF5733;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    animation: fadeIn 1s ease;
}

.search-bar {
    margin-top: 20px;
    animation: slideIn 0.5s ease;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 200px;
}

.search-bar button {
    padding: 8px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #45a049;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.hero img,
.collection img,
.product-list li img,
.instagram-feed img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

.collection,
.product-list li {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer-container p {
    margin: 5px 0;
}

.footer-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-container ul li {
    margin-right: 10px;
}

.footer-container ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-container ul li a:hover {
    color: #ccc;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .hero img {
        margin-bottom: 10px;
    }

    .collection,
    .product-list li {
        margin: 0 0 20px 0;
    }

    .main-container {
        padding: 10px;
    }

    .footer-container {
        padding: 10px;
    }
}
